/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: blue;
}

.col-2 ul li {
    list-style: none;
    display: inline-block;
    padding: 25px 15px;
}

.col-2 ul li a {
    text-decoration: none;
    color: white;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.col-1 {
    width: 25%;
    height: 100px;
    padding: 20px 100px;
}

.col-2 {
    width: 50%;
    height: 100px;
}

.col-3 {
    width: 25%;
    height: 100px;
    padding: 30px;  
}

.access a {
    text-decoration: none;    
}

.access {
    padding: 5px;
    border-radius: 20px;
}

.col-1, .col-2, .col-3 {
    float: left;
}

.jumbotron {
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h3 {
    color: white;
}

.content {
    position: absolute;
    top: 150px;
    right: 600px;
}

.content-2 {
    position: absolute;
    top: 250px;
    right: 450px;
}

.buttons {
    position: absolute;
    bottom: 300px;
    right: 600px;
}

.buttons a {
    text-decoration: none;
    padding: 20px;
}

.white-btn {
    color: white;
    padding: 10px;
    border-radius: 15px;
}

.black-btn {
    background-color: black;
    padding: 10px;
    border-radius: 15px;
}

.buttons .white-btn a {
    color: black;
}

.buttons .black-btn a {
    color: white;
}

.row {
    width: 80%;
    margin: 0 auto;
}

.row img {
    width: 100%;
}

.column-1 {
    width: 50%;
    float: left;
}

.column-2 {
    padding: 50px 0px;
    float: left;
    width: 50%;
}

h4 {
    padding: 20px 0px;
}