/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 80px;
    background-color: blue;
}

.col-2 ul li {
    list-style: none;
    display: inline-block;
    padding: 25px 15px;
}

.col-2 ul li a {
    text-decoration: none;
    color: white;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

.col-1 {
    width: 25%;
    height: 100px;
    padding: 20px 100px;
}

.col-2 {
    width: 50%;
    height: 100px;
}

.col-3 {
    width: 25%;
    height: 100px;
    padding: 30px;  
}

.access a {
    text-decoration: none;    
}

.access {
    padding: 5px;
    border-radius: 20px;
}

.col-1, .col-2, .col-3 {
    float: left;
}

